@import url(http://fonts.googleapis.com/css?family=Monteserrat:400,700);
body{colour:grey;background-colour:black;font-family:'Montserrat',sans-serif;font-size:0.5em;font-variant:normal;margin:0;}
#header{background-colour:pink;height:150px;line-height:150px;}
#header a{colour:white;text decouration:none;text-transform:uppercase;letter-spacing:0.1em;}
#header a:hover{color:#222;}
#header-title{display:block;float:left;font-size:20px;font-weight:bold;}
#header-nav{display:block;float:right;margin-top:0;}
#header-nav li{display:inline;paddling-left:20px;}
.container{max-width:1000px;margin:0 auto;}
#footer{background-colour: #2f2f2f;padding:50px 0;}
#footer h4{colour:white;text-transform:uppercase;letter-spacing:0.1em;}
#footer p{colour:white;}
.column{min-width:300px;display:inline-block;vertical-align:top;}
a{colour:#1abc9c;text-decouration:none;}
a:hover{colour:#f6a623;}
.post,.about{max-width:800px;margin:0 auto;padding:60px 0;}
.post-title{display:block;float:left;margin-left:16px;text-align:left;}
.post-author img{width:50px;height:50px;vertical-align:middle;}
.post-author span{margin-left:16px;}
.post-date{colour:grey;font-size:8px;font-weight:bold;text-transform:uppercase;letter-spacing:0.1em;}
h1,h2,h3,h4{color:#333;}
p{line-height:1.5;}
.about{text align:centre;}
.post-author img,.about-author img{border-radius:50%;}
.post-Container:nth-child(even){background-colour:#f2f2f2;}